@import '../../scssVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.film-container {
  width: 150px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}