@import '../../scssVariables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}

nav {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  font-family: $poppins;
  font-size: 0.8rem;
  background-color: $orange;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.44);
  position: absolute;
  left: 5%;
  top: 3%;
  border-radius: 1rem;
}

.totoro-icon {
  height: 50px;
}

.logo-and-text {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
  cursor: pointer;
  color: white;
}

.logo-text {
  color: white;
  text-decoration: none;
}

.links-list {
  display: flex;
  list-style: none;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

#my-profile {
  margin-left: 2rem;
  outline: solid white 1px;
  outline-offset: 0.5rem;
}

#my-profile:hover {
  margin-left: 2rem;
  outline: solid $orange 1px;
}

.link.active {
  text-decoration: underline;
}

@media(max-width:768px) {

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
  }

  // haburguer animation

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .links-list {
    position: fixed;
    left: 100%;
    top: 115px;
    flex-direction: column;
    background-color: $yellow;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-left: 50%;
    border-radius: 1rem 0 0 1rem;
    padding: 0 1rem;
  }

  .links-list.active {
    left: 0;
  }

  .link {
    display: flex;
    color: $dark-gray;
  }

  .links-list li {
    border-bottom: rgba(255, 255, 255, 0.752) solid 1px;
  }

  .links-list li:last-child {
    border-bottom: none;
  }
}