@import './components/Home/Home.scss';
@import './components/Navbar/Navbar.scss';
@import './components/People/People.scss';
@import './components/Film/Film.scss';
@import './components/Filter/Filter.scss';
@import './components/PeopleList/PeopleList.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: $light-blue;
}

.main {
  padding-top: 115px;
  height: 100%;
}
